@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:  'sans-serif';
    background-color:rgb(228, 236, 246);
}

.container{
     height:60vh;
     width:100%;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
}

.main{
    height:64vh;
    width:70vw;
    display: flex;
    justify-content:space-around;
    align-items: center;
    position: relative;
}
.left{
    width: 30vw;
}

.left img{
    height: 10vh;
}
.left h1
{
    margin-left: 30px;
}

.right{
    display:block;
    width:13vw;
  
}
.email
{
    height: 5vh;
    width:17vw;
    border-radius: 10px;
    padding-left: 20px;
    font-size: 20px;
}
.pass
{
    height: 5vh;
    width:17vw;
    margin-top: 15px;
    border-radius:10px;
    padding-left: 20px;
    font-size: 20px;
}
.submit
{
    height: 5vh;
    width:17vw;
    margin-top: 20px;
    border-radius:10px;
    padding-left: 18px;
    font-size: 20px;
    background-color: blue;
    color: white;
    cursor: pointer;
}


.right{
  
    align-items: center;
    position: absolute;
    margin: 3vh 3vh;
}
.border
{
    height: 40vh;
    width: 21vw;
    border: 4px solid gray;
    border-width: 2px;
    position: relative;
    border-radius:10px;
    box-shadow: 0 35px 55px rgba(0,0,0,0.6);
}

.forget
{
    padding-left: 20px;
    padding-left: 114px;
    margin-top: 22px;
    color: rgba(56, 105, 240, 0.774);
    
}

.forget a
{
    text-decoration: none;
}

.hrow{
    margin-left: 5px;
    width: 130%;
    margin-top: 35px;
}

.create button
{
    height: 5vh;
    width:14vw;
    margin-top: 20px;
    border-radius:10px;
    padding-left: 6px;
    font-size: 20px;
    margin-left:35px;
    background-color: rgb(10, 141, 10);
    color: white;
    cursor: pointer;
}

.rom{
    display:flex;
    align-items: center;
}